/* .asc{
    background-color: green;
}
.dsc{
    background-color: red;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTV8fGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&q=60&w=500");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


table{
    width: 100%;
    /* height: 500px; */
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    
}

td{
    text-align: left;
}

tr{
    width: 100%;

}

th,td{
    width: 33%;
    border: 1px solid black;
    padding: 14px;
}

th{
    font-size: 24px;
    background-color: bisque;
}
td{
    font-size: 20px;
    background-color: rgba(238, 228, 228, 0.237);
}

#loader{
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 180px;
    height: 180px;
    animation: spin 2s linear infinite;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
 }

@keyframes spin {
    /* 0%{transform:  rotate(0deg);} */
    100%{transform: rotate(360deg);}
}

#searchBox{
    width: 100%;
    height: 70px;
    padding: 14px;
    font-size: 20px;
    border: none;
    outline: none;
    box-shadow: none;
}

#searchBox::placeholder{
    font-size: 25px;
}