table{
    width: 100%;
    border-collapse: collapse;

}

th,td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    text-transform: uppercase;
}

th{
    background: #f2f2f2;
}

#myInput{
    width: 100%;
    padding: 20px;
    font-size: 22px;
    
}